# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
.env

# Obfuscation & Symbols
app.*.symbols
app.*.map.json

# Platform Specific
/android/app/debug
/android/app/profile
/android/app/release

# iOS specific workspace
ios/Runner.xcodeproj/project.xcworkspace/
ios/Runner.xcworkspace/xcshareddata/
**/xcshareddata/IDEWorkspaceChecks.plist
**/xcshareddata/WorkspaceSettings.xcsettings
