# =====================
# 🛠️ Global IDE / OS
# =====================
.idea/
.vscode/
*.iml
*.iws
*.ipr
out/
.DS_Store
Thumbs.db
*.log
*.tmp

# =====================
# 🔐 Secrets & Environmental
# =====================
*.pem
*.key
*.env

# =====================
# 🐳 Docker & Misc
# =====================
*.tar
*.jar
