version: "3.8"

services:
  frontend:
    build:
      context: ./frontend
    container_name: frontend
    expose:
      - "80" #내부에서만 공개
    depends_on:
      - backend

  backend:
    build:
      context: ./backend
    container_name: backend
    expose:
      - "8080"
    env_file:
      - .env.prod
