# Gradle
.gradle/
build/
bin/
!gradle/wrapper/gradle-wrapper.jar

# Configuration
application.properties
application-*.properties
# (application.yml is usually committed, but if you have sensitive local ones, add them here)

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
